<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yzs.customcollection"
    >

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

  <application
      android:allowBackup="true"
      android:name=".MyApplication"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      >
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity android:name=".showActivity.ProgressActivity"/>
    <activity android:name=".showActivity.ScanActivity"/>
    <activity android:name=".showActivity.ClockActivity"/>
    <activity android:name=".showActivity.BannerViewActivity"/>
    <activity android:name=".showActivity.DashBoardActivity"/>
    <activity android:name=".showActivity.SeekBarActivity"/>
    <activity android:name=".showActivity.ButtonActivity"/>
    <activity android:name=".showActivity.Clean360Activity"/>
    <activity android:name=".showActivity.QQBezierActivity"/>
    <activity android:name=".showActivity.NetWorkActivity"/>
    <activity android:name=".network.okhttp.OkhttpActivity"/>
    <activity android:name=".network.retrofit.RetrofitActivity"/>
    <activity android:name=".network.volley.VolleyJsonActivity"/>
    <activity android:name=".network.volley.VolleyStringActivity"/>
    <activity android:name=".showActivity.RoadWheelActivity"/>
    <activity android:name=".showActivity.ChinaMapActivity"/>
      <activity
          android:name=".showActivity.QQZoomActivity"
          android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

  </application>

</manifest>